name: Build and Deploy to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'pnpm'
          cache-dependency-path: 'docs/pnpm-lock.yaml'

      - name: Install dependencies
        run: cd docs && pnpm install

      - name: Build
        run: cd docs && pnpm build

      - name: Clean up old files
        run: |
          cd docs
          rm -rf index.html app/ components/ hooks/ lib/ public/ styles/ *.config.* package*.json tsconfig.json next-env.d.ts components.json *.lock.yaml .gitignore

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/out
          cname: shichiri1130.github.io
          force_orphan: true
